<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="order_paid">
		<observer instance="Invoicing\Moloni\Observer\Order\Paid" name="invoicing_moloni_observer_order_paid_order_paid"/>
	</event>
</config>
